<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>

<body>
    <div id="nav">
        <form method="post" action="/display"  enctype="multipart/form-data">
            <div class="block" id="name">
                <label for="name">Name</label>
                <input type="text" id="firstName" name="firstName">
                <input type="text" id="lastName" name="lastName">
            </div>
            <div class="block">
                <label for="Date-of-Birth">Date-of-Birth :</label>
                <input type="date" id="dob" name="dob">
            </div>
            <div class="block">
                <label for="file">Choose a file</label>
                <input type="file" id="file" name="file" required>
            </div>
            <input type="submit" value="submit">
        </form>
    </div>
</body>

</html>